@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200;300;400&display=swap');
* {
    --bg: rgb(42, 44, 53);
    --border: rgb(141, 149, 182);
    font-family: 'Mali', cursive;
    color: var(--border);
    background-color: var(--bg);
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-div {
    aspect-ratio: 1 / 1;
    display: none;
    flex-wrap: wrap;
    width: 60vw;
    max-width: 498px;
    font-size: 5rem;
    text-align: center;
    font-weight: 200;
}

#cell {
    outline: 2px solid var(--border);
    aspect-ratio: 1 / 1;
    width: 20vw;
    max-width: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.choose-players {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-elements {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-elements > * {
    margin-bottom: 2rem;
}

.player1, .player2 {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}

input {
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 16rem;
    height: 2rem;
    margin: 1rem;
}

input:focus {
    outline: 2px solid rgb(97, 119, 209);
}

button {
    border: 2px solid var(--border);
    border-radius: 10px;
    width: 10rem;
    height: 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.4s all;
}

button:hover {
    background-color: var(--border);
    color: var(--bg);
}

.end-screen {
    display: none;
    flex-direction: column;
    align-items: center;
}